In [1]:
!pip install kafka-python

Requirement already satisfied: kafka-python in /home/supernova/anaconda3/lib/python3.11/site-packages (2.1.4)

In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
# connecting to kafka server via local machine
producer = KafkaProducer(bootstrap_servers=['15.207.111.151:9092'], # public EC2 IP
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [20]:
producer.send('demo_test', value={'Hello':'There'})  # demo_test is the topic name
# Send data in JSON format (like a dictionary)
# You'll be able to see this value on the Consumer terminal at this stage (haven't written python code for Consumer yet)

In [5]:
df = pd.read_csv("stock_data.csv")

In [6]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [21]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [12]:
producer.flush()